# Archivos de entorno y contraseñas
.env

# Entornos virtuales (donde se instalan tus librerías locales)
venv/
env/
.venv/

# Archivos de base de datos local (ya no los necesitamos)
database.db
*.db

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de sistema operativo
.DS_Store
Thumbs.db